@import url("../../../styles/_variables.pcss");
@import url("../../../styles/_mixins.pcss");

.button {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
}

.list {
  display: none;
  position: absolute;
  right: 0;
  top: 30px;
  border-radius: 8px;
  background: $color-bg-0;
  padding: 8px 0;
  width: 142px;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
}
