@import url("../../styles/_mixins.pcss");

.chatActive {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.chat {
  @mixin flexbox initial flex-end;

  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
}

.chatHide {
  display: none;
}

.titleEmpty {
  @mixin flexbox;

  text-align: center;
  width: 100%;
  height: 100%;
}

.avatarUpload {
  margin-bottom: 24px;
}
