<section class="{{className}}">
    <div>
        {{{header}}}
    </div>
    <div class="{{classNameChats}}">
        <ul>
            {{#each chats}}
                <li>
                    {{{chat}}}
                </li>
            {{/each}}
        </ul>
    </div>
</section>