@import "../../styles/_mixins.pcss";
@import "../../styles/_variables.pcss";

.sidebar {
    max-width: 324px;
    border-right: 1px solid $color-line;
    height: 100%;
    overflow: hidden;
}

.chats {
    height: calc(100% - 129px);
    overflow-y: scroll;
}
