@import url("../../styles/_variables.pcss");
@import url("../../styles/_mixins.pcss");

.container {
  text-align: center;
  padding: 24px;
  border-radius: 16px;
  max-width: 440px;
  width: 100%;
  background: $color-bg-0;
}

.title {
  @mixin typography-text-xxl;

  margin-bottom: 24px;
}
