@import url("../../../styles/_mixins.pcss");
@import url("../../../styles/_variables.pcss");


.modal {
    @mixin flexbox;

    flex-direction: column;
}

.title {
    margin: 16px 0;
}

.input {
    margin-bottom: 16px;
}