@import url("../../styles/_mixins.pcss");
@import url("../../styles/_variables.pcss");

.header {
  @mixin flexbox;

  height: 24px;
}

.nav {
  width: 100%;
  max-width: 800px;
}

.navList {
  @mixin flexbox center, space-between;

  width: 100%;

  a {
    color: $color-text-tertiary;
  }
}
