@import "../../styles/_mixins.pcss";
@import "../../styles/_variables.pcss";

.img {
    fill: $color-palette-grey-2;
}

.avatar {
    @mixin flexbox;

    position: relative;
    min-width: 48px;
    min-height: 48px;
    width: 48px;
    height: 48px;
    background: $color-bg-2;
    border-radius: 50%;
}