@import "../../styles/_mixins.pcss";
@import "../../styles/_variables.pcss";

.link {
    @mixin typography-text-xl;

    cursor: pointer;
}

.blue {
    color: $color-text-tertiary;
}

.red {
    color: $color-text-error;
}